body{
    font-size: 16px;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #61122f;  
}

/**Header**/

#header-nav{
    background-color: #f6b319;
    border: 0;
    border-radius: 0;   
}

#logo-img{
   background-image: url("/images/vintagelogo.png");
   border-radius: 50%;
   height: 120px;
   width: 120px;
   margin: 10px 10px 10px 0px;
}

.navbar-brand{
    padding: 20px;    
}

/**Restaurant name**/
.navbar-brand h1{
     color: #557c3e;
     font-size: 1.5em;
     text-transform: uppercase;
     font-weight: bold;
     text-shadow: 1px 1px 1px #222;
     margin-top: 0;
     margin-bottom: 0;
     line-height: 0.75;
}
/*end*/

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 20px;
}

.navbar-brand p span{
    vertical-align: middle;
}

a.icon{
    display: none;
}

div.topnav a{
    float: right;
    padding: 15px 10px;
    text-decoration: none;
    color: #557c3e;
    text-align: center;
}

div.topnav a:hover{
    color: #fff;
}

div.topnav i{
    color: black;
}

div.topnav i:hover{
    color: #557c3e;
}
/**END HEADER**/


/*-homepage*/
.container div.jumbotron{
    padding: 0px;
    margin: 10px;
    box-shadow: 1px 1px 25px black;
}
#menu-tile, #special-tile, #map-tile{
    height: 200px;
    width: 100%;
    position: relative;
    border: 1px solid brown;
    margin: 15px 0px;
    overflow: hidden;

}

#menu-tile{
    background: url("/images/menu-tile.jpg") no-repeat;
    background-position: center;
}
#special-tile{
    background: url("/images/specials-tile.jpg") no-repeat;
    background-position: center;
}

#menu-tile:hover, #special-tile:hover, #map-tile:hover, div.effect:hover{
    box-shadow: 0px 1px 5px 1px #cccc;
}

#menu-tile span, #special-tile span, #map-tile span{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    text-align: center ;
    background-color: #000;
    width: 100%;
    opacity: 0.8;
    font-size: 1.6em;
    text-transform: uppercase;
    
}

.panel-footer{
    margin-top: 30px;
    padding-top: 30px;
    background-color: #222;
    border: 0;
    box-shadow: 0 0 5px 2px #222;
}

section > span{
    font-size: 1.5em;
    font-weight: 600;
}

section{
    line-height: 30px;
}

section#testimonial p{
    line-height: 20px;
}

section#testimonial p:nth-child(3){
    margin-top: 30px;
}



section#testimonial p{
    font-style: italic;
    
}

p#deliverStatut{
    color: #557c3e;
    font-size: 0.9em;
}

div#copyright{
    margin-top: 15px;
}

div.category-tile{
    height: 200px;
    width: 200px;
    position: relative;
    border: 1px solid brown;
    margin: 15px auto;
    overflow: hidden;
}

div.category-tile span{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    text-align: center ;
    background-color: #000;
    width: 100%;
    opacity: 0.8;
    font-size: 1.6em;
    text-transform: uppercase;
    
}
/*end homepage*/

/**For large device screen**/
@media screen and (min-width: 1024px){

    /*jumbotron image*/
    .container div.jumbotron{
        background-image: url("/images/jumbotron_1200.jpg");
        height: 675px;
    }
    /*end jumbotron image*/
    
}

/**For medium device screen**/
@media screen and (max-width: 1023px){
    /**hidden all the link exept the first one (the menu icon)**/
    div.topnav a:not(:first-child){
        display: none;
    }
    /*-hidden links-*/

    p.kosher.hide{
        display: none;
    }

    div.topnav.responsive{
        position: relative;
    }

    /**Styling the icon**/
    div.topnav.responsive a,i{
        padding: 20px;
        text-align: left;
        display: block;
        
    }
    /*-styling the icon-*/

    div.bgColor:hover{
        background-color: #557c3e;

    }

    /**the hamburger icon styling**/
    a.icon{
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: transparent;
        color:#557c3e;
        text-decoration: none;
        margin: -5px 0px; 
        padding: 0px;   
    }
    /*-the hamburger icon styling-*/


    /*delivery button*/
    div.call-btn{
        background-color: #f6b319;
        text-align: center;
        margin: 30px 30px;
        border: 5px solid white;
        border-radius: 20px;    
    }

    a.btn:hover, a.btn:focus{
        text-decoration: none;
        color: none;
    }

    a.btn{
        color: #61122f;
    }
    /*-delivery button-*/

    /* we deliver*/
    div.deliver{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    /*-we deliver-*/

    
}

/**For small device**/
@media screen and (max-width:767px){
    /*Heading name and yellow brand size*/
    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }

    i.smalfont{
        padding-top: 0px;
        padding-left: 0px;
    }
    /*end*/

   

}

/**For xsmall device**/
@media screen and (max-width: 430px){
    /*Heading name size and yellow-brand size*/
    h1.smalfont, i.smalfont{
        font-size: 5vw;
    }

    .navbar-brand{
        padding-top: 10px;
        height: 80px;
    }

    i.smalfont{
        padding-top: 0px;
        padding-left: 0px;
    }
    /*end*/
}

/*jumbotron setting*/
@media (min-width: 767px) and (max-width: 1021px){

    /*jumbotron image*/
    .container div.jumbotron{
        background-image: url("/images/jumbotron_992.jpg");
        height: 558px;
    }
    /*end jumbotron image*/
    
}

/*menu image setting*/
@media (min-width: 200px) and (max-width: 768px){
    #menu-tile, #special-tile, #map-tile{
       width: 260px;
       margin: 15px auto;
    
    }
   
}
/*end image setting*/

/*x-mega small image setting for menu*/
@media (min-width: 200px) and (max-width: 444px){
    .col-xms-12{
        width: 100%;
    }
   
}
/* end x-mega small image setting for menu*/


/************************************Single-Category***************************/

section.image-container{
   margin-top: 30px;
}
div.image-category{
    position: relative;
    border: 1px solid #333;
   
}

div.price{
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

div.price span{
    font-size: 0.8em;
    font-weight: 100;
}

div.marge{
    margin: 22px 0px;
}

p.description{
    font-size: 0.9em;
    font-style: italic;
}

div.image-category > div{
    position: absolute;
    bottom: -20px;
    right: -20px;
    padding: 10px;
    background-color: #f6b319;
    color: #222;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
}

/**********small displaying**********/
@media (min-width:200px) and (max-width:991px){
    div.image-category{
        height: 155px;
        width: 250px;
        margin: 0px auto;
              
    }

    div.center{
        text-align: center;
    }

    div.price{
        text-align: center;
    }

    hr{
        width: 60%;
    }
}